<b>Attached Files:</b>
<% if !obj.attached_files.empty? %>
  <table class="border">
    <tr>
      <th>File name</th>
	  <th>Description</th>
	</tr>
    
	<% obj.attached_files.each do |att_file| %>
	  <tr>
        <td><%=link_to att_file.basename_with_ext, att_file %></td>
		<td><%=h att_file.notes %></td>
	    <td class="noborder"><%=link_to 'Delete File', att_file, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
      <% end %>
	</table>
	
<% else %>
  <br/>NONE<br/><br/>
<% end %>