<span class="table_title">Physical Sample:</span>
<table class="border">
  <%= render :partial => 'samples/sample_hdr' %>
  <%= render :partial => 'samples/sample_row', :locals => {:sample => sample} %>
</table>
