<h1>Samples For Editing - Select parameters</h1>

<%= form_tag :action => 'edit_params' do %>

<table class="form border">
  <tr>
  	<th>Barcode:</th><td><%= text_field_tag(:barcode_key)%></td>
  </tr>
</table>

<%= submit_tag "Submit" %>
<%end%>