<fieldset class="form">
<legend>Storage Device</legend>
  <table class="form">
  	<tr><%= f.text_field :device_name %></tr>
	<tr><%= f.text_field :building_loc, :label => 'Location' %></tr>
    <tr><%= f.text_field :base_run_dir, :label => 'Sequencing Run Dir' %></tr>
  </table>
</fieldset>
<div class="clear"></div>
