<h3>New storage device</h3>

<% form_for(@storage_device) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'storage_device', :locals => {:f => f} %>
  
  <%= f.submit "Create" %>
<% end %>

<%= link_to 'List All', storage_devices_path %>
