<h1>New storage device</h1>

<% tagged_form_for(@storage_device) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'storage_device_form', :locals => {:f => f} %>
  
  <%= f.submit "Create" %>
<% end %>

<%= link_to 'List All', storage_devices_path %>
