<fieldset class="form">
<legend>Sample Acquisition</legend>
<table class="form">
<tr>
  <th>Collect date</th>
  <td><%=f.calendar_date_select(:collection_date, :valid_date_check => "date <= (new Date()).stripTime()", :size => 15) %></td>
  <th>Clinic from</th> 
  <td><%=f.collection_select(:clinic_or_location, @clinics, :c_value, :c_value,
                            {:include_blank => 'Select clinic'})%></td>
</tr>
<tr>
  <th>Consent protocol</th>
  <td colspan=3><%=f.collection_select(:consent_protocol_id, @consent_protocols, :id, :name_ver,
                                      {:include_blank => 'Select protocol'}) %></td>
</tr>  
<tr>
  <th>Comments</th>  
  <td colspan=3><%=f.text_field :comments, :size => 100 %></td>
</tr>
</table>
</fieldset>
<div class="clear"></div>
