<div id="samples">
  <table class="form">
  	<tr>
	<th>Samples</th>
	<td>This is where the samples form should go</td>
	<td>id is: <%=h id %></td>
	</tr>
	<tr>
	  <td colspan=3><%= debug(params) %></td>
	</tr>
  </table>
</div>
