<h1>New clinical sample</h1>

<%= form_tag :action => 'new_sample' do %>
<table class="form border"><tr><td>MRN: <%= text_field_tag :mrn_nr %></td></tr></table>
  <%= submit_tag 'Submit' %>
<% end %>

<p class="notes">Enter MRN number if available, otherwise birthdate (YYYYMMDD).  
<br/>If neither is available, use 'NA' and the system will assign an MRN in the format: NA_nnnnn 
where nnnnn is the uniquely assigned patient id </p>
