<h1>Multiplex Index Tags</h1>

<table class="list">
<tr>
  <% (1..3).each do %>
  <th>Runtype Adapter</th>
  <th>Tag#</th>
  <th style="border-right: 1px solid #999; padding-right: 3px;">Sequence</th>
  <!--th>&nbsp;</th-->
  <% end %>
</tr>

<% @index_tags.sort.each do | tag_nr, index_tags| %>
<tr> 
  <% index_tags.each do |itag| %>
    <td><%=h itag.runtype_adapter %></td>
	<td><%=h tag_nr %></td>
	<td style="border-right: 1px solid #B0AA91; padding-right: 3px;"><%=h itag.tag_sequence %></td>
	<!--td >&nbsp;</td-->
  <% end %>
</tr>
<% end %>

</table>