

    <h3>Listing Pathologies/Sample Characteristics 
     for Patient: 1403</h3>




<span class="table_title">Diagnosis/Pathology:</span>
<table class="info">
  <tr>
    <th>Rpt Date</th>

    
    <td>2011-02-10</td>
    
    <th>Pathology</th><td>Pre-Malignant</td>
    <th>Diagnosis/Notes</th><td>AdenoCA: Colon/Rectum</td>
    
      <td class="linkborder"><a href="/pathologies/245/edit">Edit</a></td>
    
  </tr>
  <tr>

    <th>Stage</th><td></td>
    <th>XRT?</th><td></td>
    <th>TNM: </th><td>T1N1MX</td>
  </tr>
  
</table>
                        


<span class="table_title">Sample Collection/Characteristics:</span>

<table class="list">
  <tr>
    
    <th>Collection Date</th>
    <th>Clinic</th>
    <th>Protocol</th>
    <th>Barcode(s)</th>
  </tr>

  

  
  
  <tr>
    
    <td>2010-02-04</td>
    <td>Lucille-Packard Ped. Oncology Service</td>
    <td>NA
        /Anonymous Sample</td>
    <td>288991</td>
  </tr>

</table>
<hr style="width:100%; height: 1px"> 



  <span class="table_title">Diagnosis/Pathology: </span>
  <table class="info">
    <tr>
      <td>None</td>
      <td class="linkborder"><a href="/pathologies/new?add_new=yes&amp;patient_id=1403">Add New</a></td>
    </tr>   
  </table> 
  


<span class="table_title">Sample Collection/Characteristics:</span>
<table class="list">
  <tr>
    
    <th>Collection Date</th>
    <th>Clinic</th>
    <th>Protocol</th>
    <th>Barcode(s)</th>

  </tr>
  

  
  
  <tr>
    
    <td></td>
    <td>Stanford Tissue Bank - Frozen</td>
    <td>76274
        /Upper Gastrointestinal Carcinoma</td>
    <td>657567</td>
  </tr>

  
  
  <tr>
    
    <td>2010-11-03</td>
    <td>Stanford Surgical Service</td>
    <td>76274
        /Upper Gastrointestinal Carcinoma</td>
    <td>554671</td>
  </tr>

  
  
  <tr>
    
    <td>2011-01-20</td>
    <td>Stanford Cancer Genetics</td>
    <td>3277
        /Childhood Cancer and Blood Samples</td>
    <td>654765, 654766</td>
  </tr>

  
  
  <tr>
    
    <td>2011-02-02</td>
    <td>Stanford Surgical Service</td>
    <td>13045
        /Triple-Negative Breast Cancer</td>
    <td>456654</td>
  </tr>

  
  
  <tr>
    
    <td>2011-02-09</td>
    <td>Stanford Cancer Genetics</td>
    <td>3276
        /Childhood Brain Tumors and Blood Samples</td>
    <td>99987, 99988</td>
  </tr>

  
  
  <tr>
    
    <td>2011-02-09</td>
    <td>Stanford Radiation Oncology Service</td>
    <td>78932
        /Colorectal Tumors and Blood Samples</td>
    <td>57481, 342534, 45454, 45555</td>
  </tr>

</table>

</div><!-- /maincontent -->
    