<tr>
  <th>Patient ID</td>
  <th>Extracted Sample</th>
  <th>From Sample</th>
  <th>Processing Date</th>
  <th>Amount(ug)</th>
  <th>Conc (ng/ul)</th>
  <th>a260/a280</th>
  <th>a260/a230</th>
  <th>RIN#</th>
  <th>Rem?</th>
  <th>Room/Freezer</th>
  <th>Container</th>
  <th>Upd By</th>
  <th colspan=2></th>
</tr>
