<h1>Specify Source Sample for Extraction</h1>

<%= form_tag new_extraction_sample_path do %>
<table class="form border">
  <tr>
  	<th>Barcode:</th><td><%= text_field_tag(:barcode_key)%></td>
  </tr>
</table>

<%= submit_tag "Submit" %>
<%end%>