<fieldset class="form">
<legend>Alignment Reference</legend>
<table class="form">
  <tr><%=f.text_field :alignment_key %></tr>
  <tr><%=f.text_field :interface_name %></tr>
  <tr><%=f.text_field :genome_build, :size => 12 %></tr>
</table>
</fieldset>
