<h1>Update alignment reference</h1>

<% tagged_form_for(@alignment_ref) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'alignment_ref', :locals => {:f => f} %>
    
  <%=raw break_clear(f.submit "Update") %>
<% end %>

<%= link_to 'List All', alignment_refs_path %>
