<h3>Update alignment reference</h3>

<% form_for(@alignment_ref) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'alignment_ref', :locals => {:f => f} %>
    
  <%= f.submit "Update" %>
<% end %>

<%= link_to 'Back', alignment_refs_path %>
