<h1>New alignment reference</h1>

<% tagged_form_for @alignment_ref, :action => 'create' do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'alignment_ref', :locals => {:f => f} %>
  
  <%= f.submit "Create" %>
<% end %>


