<h3>Sequencing Library</h3>
<%= button_to "Export Library/QC", :action => :export_libqc, :id => @seq_lib.id %><br/>

<%= render :partial => 'seq_libs/lib_show', :locals => {:seq_lib => @seq_lib} %>

  <% if @lib_lanes_by_seq_type %>
  <% @lib_lanes_by_seq_type.each do | seq_type, flow_lanes| %>
    <% if seq_type == 'H' %>
	  <%= render :partial => 'hiseq_align_qc', :locals => {:flow_lanes => flow_lanes} %>
	<% else %>
	  <%= render :partial => 'ga2_align_qc',   :locals => {:flow_lanes => flow_lanes} %>
	<% end %>
	
  <% end %>
  <% end %>