<fieldset class="form">
<legend class="form">Assay Details</legend>
<table class="form" border="0">
<tr>
  <th>Owner:</th><td><%= select_tag("assay_default[owner]", options_for_select(@owners, @requester))%></td> 
  <th>Date:</th><td><%= calendar_date_select_tag("assay_default[preparation_date]", Date.today, :size => 15) %></td>  
</tr>
<tr>
  <th>Protocol:</th><td><%= collection_select(:assay_default, :protocol_id, @protocols, :id, :protocol_name,
                           {:include_blank => 'Select Protocol'}) %></td>
</tr>
<tr>  
  <th>Notes:</th>
  <td colspan="5"><%= text_field(:assay_default, :notes, :size => 80) %></td>
</tr>
</table>
</fieldset>