<h1>Molecular Assay</h1>

<%= render :partial => 'assay_show', :locals => {:molecular_assay => @molecular_assay} %>

<% for lib_sample in @molecular_assay.lib_samples %>
  <%= render :partial => 'assay_sample_show', :locals => {:lib_sample => lib_sample} %>
<% end %>

<%= break_clear %>
