<h1>Delete Run</h1>

<p></p>

<% form_tag(:action => :del_run) do %>
  <%= collection_select(:storage_devices, :id, @storage_devices, :id, :device_name, 
      {:include_blank => 'Select Device'}) %>
  <%= submit_tag "Go" %>
<% end %>

<p></p>

<% if !@run_dirs.blank? %>

  <%= render :partial => 'del_device_form' %>
  
<% end %>

<%= link_to 'List All', storage_devices_path %>
