@charset "UTF-8";
/* CSS Document */

body {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    background: #D6D5C7;
    font-family: arial, verdana, sans-serif;
    font-size: .9em;
    /*overflow: auto;*/
}

/* for internet explorer */
* html body {
    padding: 80px 0 50px 0; /* changed to 80px from 120px */
}

/* generic html tag styles */

p {
    padding-left: .5em;
    padding-top: .5em;
}

h1 {
    font-size: 1.1em;
    color: #003366;
    padding-left: 0.2em;
}

h2 {
    font-size: 1em;
    margin:0;
    padding:0;
}

h3 {
    font-size: .9em;
    margin:0;
    padding:0;
}

hr {clear:both; border:0; height:1px; background-color:#888;}

#container {
    margin: 0 auto;
    max-width: 1600px;
    min-width: 600px;
    padding: 0;
    background: #fff;
}

#main {
    font-family: arial,helvetica,sans-serif;
    overflow:auto;
    background:#fff;
    padding: 0px;
    text-align: center;
    margin-right: 10px;
}

/*
* html #main {
    height:100%;
    width:100%;
}
*/

#header {
    /*height: 90px;*/
    overflow: hidden;
    background: #fff;
    white-space: nowrap;
}

* html #header {
    /*height: 95px;*/
}

#header .logo {
    margin-top: 4px;
    text-align: center;
}
    
#header .sitename, .sitename.prod, .sitename.test {
    font: bold small-caps 2em/1.5em tahoma,serif;
    padding: 20px 10px 0 60px;
    float: left;
}

#header .sitename-graphic {
    margin-top: 3px;
    text-align: center; 
}

#header .version {  
    margin-right: 7px;
    font-size: .8em;
    font-weight: bold;
    text-align: right;
}

#header .logout-link {
    margin: 0 8px 0 0;  
    text-align: right;
}

#header .logout-link a {
    color: #990000;
    text-decoration: none;
    font-weight: bold;
    font-size: .8em;
}

#header .tagline { 
    font-size: 0.9em;
    color: #777;
    font-style:italic;
    font-weight:bold;
    text-align: center; 
}

#footer {
    height: auto;
    /* overflow: auto; */
    background: #fff;
    border-top: 1px solid #C1C1C1;
    padding: 10px;
  }
* html #footer {
    height: auto;
}
#footer p {
    font: bold .8em verdana, sans-serif;
    color: #750404;
}

#footer a, #footer a:visited {
    font: .8em verdana, sans-serif;
    text-decoration:none;
    color:#750404;
}

#footer a:hover {
    color:#750404;
    text-decoration: underline;
}
#footer .site-blurb {
    color: #888;
    font-size: .8em;
    line-height:1.3em;
    font-style: italic;
    white-space: nowrap;
    margin-top: 1em;
}

#footer .site-blurb a {
    font: inherit;
}

#footer .funding-text {
    text-align: center;
}
#footer .funding-text a {
    color: #888;
    font-size: .65em;
    line-height: 1.1em;
}
#footer .funding-text a:hover {
    color: #990000;
    text-decoration: none;
}

/* start left navigation styles */
#leftsidebar {
    float: left;
    width:180px;
    height: auto;
    text-align: left;
    padding: 1.3em 0;
    margin:10px;
    background: #e8ead0;
    border: 1px solid #C1C1C1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

#leftsidebar a {
    display: block;
}

#leftsidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#leftsidebar .user_info {
    font: italic bold .7em/1.5em Verdana, Arial, Helvetica, sans-serif;
    color: #666;
    border-bottom: 1px solid #b0aa91;
    padding:0 10px 15px 15px;
    text-align: left;
}

#leftsidebar .sidebar-label {
    font: italic bold .7em/1.5em Verdana, Arial, Helvetica, sans-serif;
    color: #990000;
    border-bottom: 1px solid #b0aa91;
    border-top: 1px solid #b0aa91;
    padding:5px 10px;
    text-align: left;
    background: #F3F4E6;
}

#leftsidebar ul.opened {
    display: block;
    padding-top: 10px;
    /*list-style-image:url("/images/opened.gif");*/
}

#leftsidebar ul.closed {
    display: none;
    /*list-style-image:url("/images/closed.gif");*/
}

#leftsidebar ul li a {
    font-weight: bold;
    line-height: 2em;
    color: #000;
    text-decoration: none;
    background: #e8ead0;
    vertical-align: middle;
    font-size: 0.8em;
    padding-left: 15px;
}

#leftsidebar ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: #b3b393;
}

#leftsidebar ul li a:active {
    color: #990000;
    text-decoration: underline;
    background: #fff;
}

#leftsidebar ul li a:visited {
    font-size: 0.8em;
    font-weight: bold;
}

#leftsidebar ul li ul li a {
    font-weight: bold;
    line-height: 1.85em;
    color: #000;
    text-decoration: none;
    background: #e8ead0;
    vertical-align: middle;
    font-size: .75em;
    padding-left: 25px;
}

#leftsidebar ul li ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: #b3b393;
}

#leftsidebar ul li ul li a:active {
    color: #990000;
    text-decoration: underline;
    background: #fff;
}

#leftsidebar ul li ul li a:visited {
    font-size: .75em;
    font-weight: bold;
}
/* end left navigation styles */

/* top nav bar background style */
#topnavbar {
    background-color: #990000; 
    padding: 0; 
    border-top:1px solid #c1c1c1; 
    border-bottom:1px solid #c1c1c1;
}

#maincontent {
    text-align: left;
    padding-left: 203px;
}

#maincontent a {
  text-decoration:none;
  color:#006699;
  font-size:inherit;
  }
  
#maincontent a:visited {
  text-decoration:none;
  color:#006699;
  font-size:inherit;
  }

#maincontent a:hover {
  color:#990000;
  text-decoration:underline;
  font-size:inherit;
  }
  
#maincontent a:visited:hover {
 color: #990000;
 font-size:inherit;
 }

/* styles for tables */

table {
    empty-cells: show;
    margin-bottom: 1em;
    table-layout: auto;
    /*float: left;*/
    /*width: 95%;*/
}

table.break_clear {
    margin-bottom: 0;    
}

th {
    white-space:nowrap;
    padding: 1px 4px;
    text-align: left;
}

td {
    padding: 1px 4px;
}

.form_title {
    font-size: .9em;
    font-weight: 600;
    font-style: italic;
}

.table_title {
    font-size: .9em;
    font-weight: bold;
    font-style: italic;
}

table.list {
    border: 1px solid #b0aa91;
    border-collapse: collapse;
    min-width: 25%;
    max-width: 100%;
}

.list th {
    font-size: .9em;
    padding: .1em .3em;
    background-color: #e9e9e9;
    border-width: 1px;
    border-style: none dotted solid;
    border-color: transparent #999 #999;
    vertical-align: top;
}

.list td {
    font-size: .9em;
    padding: .1em .3em;
    border-width: 1px;
    border-style: none dotted solid;
    border-color: transparent #DEDACB #B0AA91;
    vertical-align: top;
}

.list .solid_border_bottom {
    border-bottom: 1px solid #B0AA91;
}

.list .dotted_border_bottom {
    border-bottom: 1px dotted #DEDACB;
}

.list .border_leftright_only {
    border-width: 0 1px 0;
    border-style: none dotted none;
    border-color: transparent #DEDACB transparent;
}

.list .cellborder {
    border: 1px dotted #dedacb; /* #b0aa91; */
    padding: .1em .3em;
}

.list .no_cellborder {
    border: 0 none;
}

.list a.linkborder {
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding: 0 .5em;
}

.info01 {
    border: 1px solid #b0aa91;
    border-collapse: separate;
    margin-bottom: 1em;
}

.info01 th {
    background-color: #e8ead0;
    font-size: .9em;
    background-color: #f1f2e3;
    white-space: nowrap;
    padding: .1em .3em;
    text-align: left;
}

.info01 td {
    padding: .1em .3em;
}

table.info {
    margin-bottom: 0;
}

.info th {
    font-size: .85em;
    font-weight: bolder;
    text-align: right;
    vertical-align:top;
}

.info td {
    font-size: .85em;
    vertical-align: top;
    padding-right: .75em;
}

/* info fieldset styles */

fieldset.info {
    padding: .5em;
    margin-bottom: 10px;
    float:left; 
    /* clear:right;*/
    background: #fafafa;
    border: 1px solid #999;
    width:50%;
}
fieldset.info legend {
    margin-left:1em;
    font-size: .9em;
    font-weight: bold;
    font-style: italic;
    padding: 0 4px;
    background: #fff;
    border: 1px solid #999;
}

/* end info fieldset styles */

table.form {
    background-color: #e9e9e9;
    border-collapse: collapse;
}

table.border {
    border: 1px solid #999;
}

.form th {
    font-size: .85em;
    font-weight: bolder;
    text-align: right;
    vertical-align:top;
}

.form th.top-heading-row {
    text-align: left;
    vertical-align:middle;
}

.form td {
    font-size: .85em;
    vertical-align: top;
    padding-right: .75em;
    white-space:nowrap;
}

table.form-with-columns {
    background-color: #e9e9e9;
    border-collapse: collapse;
}

.form-with-columns th {
    font-size: .85em;
    font-weight: bolder;
    text-align: left;
    vertical-align:top;
    text-decoration: underline;
    padding-bottom: .3em;
}

.form-with-columns td {
    font-size: .85em;
    vertical-align: top;
    padding-right: .75em;
}

table.form-with-columns-no-th-underline {
    background-color: #fefefe;
    border-collapse: collapse;
    margin: 0 .2em .8em .2em;
    width: 99%;
}

.form-with-columns-no-th-underline th {
    font-size: .85em;
    font-weight: bolder;
    text-align: left;
    vertical-align:top;
    padding-top: .3em;
    padding-left: 2px;
}

.form-with-columns-no-th-underline th.right {    
    text-align: right;
}

.form-with-columns-no-th-underline td {
    font-size: .85em;
    vertical-align: top;
    padding: .25em .5em .25em 0;
}

.form01 {
    background-color: #f1f2e3;
}

.form01 th {
    font-size: .9em;
    background-color: #f1f2e3;
    border-bottom: none;
    text-align: left;
}

.form01 td {
    font-size: .9em;
    border-bottom: none;
}

/* form fieldset styles */

fieldset.form {
    padding: .5em .5em 0 .5em;
    margin-bottom: 10px;
    float:left; 
    background: #e9e9e9;
    border: 1px solid #999;
    min-width: 25%;
    max-width: 125%;
}
fieldset.form legend {
    margin-left:1em;
    font-size: .9em;
    font-weight: bold;
    font-style: italic;
    padding: 0 4px;
    background: #fff;
    border: 1px solid #999;
}

/* end form fieldset styles */

/* end styles for tables */

/* Other general styles */

.grey {color:#888;}
.ltgrey {color:#ddd;}
.palegrey {color:#eee;}
.dkred {color:#990000;}
.sagegreen {color: #e8ead0;}
.ltsage {color: #f1f2e3;}

.lft {float:left;}
.rgt{float:right;}

.notes {
    font-size: smaller;
    font-style: italic;
    color: #888;
}

.instructions {
    font-size: smaller;
    font-weight: bold;
    color: #999000;
}

.hardbreak {
    word-break: break-all;
    white-space: nowrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    word-wrap: break-word;/* Internet Explorer 5.5+ */
}

.clear {
    clear: both;
}

.linkborder {
    border: 2px solid #dedacb;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    text-align: center;
    padding: 0 4px;
    line-height: 1.3em;
    width: 3em;
}

.wrap-line {
    white-space:pre-line;
}

.no-wrap-line {
    white-space: nowrap;
}

.number-pad-right, td.number-pad-right {
    text-align: right;
    padding-right: 1em;
}

.number-pad-left, td.number-pad-left {
    text-align: left;
    padding-left: 1em;
}

/* styles for Rails error messages */
.fieldWithErrors {
  padding: 2px;
  background-color: #990000;
  display:table-cell;
}

#errorExplanation {
  width: 400px;
  border: solid thin #990000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #990000;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/* end styles for Rails error messages */
