@charset "UTF-8";
/* CSS Document */

body {
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
    background: #D6D5C7;
    font-family: arial, verdana, sans-serif;
    font-size: .9em;
    /*overflow: auto;*/
}

/* for internet explorer */
* html body {
    padding: 80px 0 50px 0; /* changed to 80px from 120px */
}

/* generic html tag styles */

p,h1,h2,h3,h4,h5,h6 {
    padding-left: .5em;
    padding-top: 0.5em;
}

h1 {
    font-size:1.5em;
    margin:0;
    padding:0;
}

h3 {
    font-size: 1.05em;
    color: #003366;
}

hr {clear:both; border:0; height:1px; background-color:#888;}

#container {
    margin: 0 auto;
    max-width: 1600px;
    min-width: 600px;
    padding: 0;
    background: #fff;
}

#main {
    font-family: arial,helvetica,sans-serif;
    overflow:auto;
    background:#fff;
    padding: 0px;
    text-align: center;
    margin-right: 10px;
}

/*
* html #main {
    height:100%;
    width:100%;
}
*/

#header {
    /*height: 90px;*/
    overflow: hidden;
    background: #fff;
    white-space: nowrap;
}

* html #header {
    /*height: 95px;*/
}

#header .logo {
    margin-top: 4px;
	text-align: center;
}
    
#header .sitename, .sitename.prod, .sitename.test {
    font: bold small-caps 2em/1.5em tahoma,serif;
    padding: 20px 10px 0 60px;
    float: left;
}

#header .sitename-graphic {
    margin-top: 3px;
    text-align: center;	
}

#header .version {	
    margin-right: 7px;
    font-size: .8em;
    font-weight: bold;
	text-align: right;
}

#header .logout-link {
    margin: 0 8px 0 0;	
    text-align: right;
}

#header .logout-link a {
    color: #990000;
    text-decoration: none;
    font-weight: bold;
    font-size: .8em;
}

#header .tagline { 
    font-size: 0.9em;
	color: #777;
	font-style:italic;
	font-weight:bold;
	text-align: center;	
}

#footer {
    height: 29px;
    /* overflow: auto; */
    background: #fff;
    border-top: 1px solid #C1C1C1;
    padding: 10px;
  }
* html #footer {
    height: 28px;
}
#footer p {
    font: bold .8em verdana, sans-serif;
    color: #750404;
}

#footer a, #footer a:visited {
    font: .8em verdana, sans-serif;
    text-decoration:none;
    color:#750404;
}

#footer a:hover {
    color:#750404;
    text-decoration: underline;
}
#footer .site-blurb {
    color: #888;
    font-size: .8em;
    line-height:1.3em;
    font-style: italic;
    /*margin-top: 10px;*/
}

#footer .site-blurb a {
    font: inherit;
}
/*
#footer .site-blurb a:hover {
	font: inherit;
}
*/
#footer .funding-text a {
	color: #333;
	font-size: .8em;
	line-height: 1.1em;
}
#footer .funding-text a:hover {
	color: #990000;
	text-decoration: none;
}

/* start left navigation styles */
#leftsidebar {
    float: left;
    width:180px;
    height: auto;
    text-align: left;
    padding: 1.3em 0;
    margin:10px;
    background: #e8ead0;
    border: 1px solid #C1C1C1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

#leftsidebar a {
    display: block;
}
    
/* .leftnavlist {
background-color:#FF9966;
color: #000;
text-decoration: none;
} */

#leftsidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#leftsidebar .user_info {
    font: italic bold .7em/1.5em Verdana, Arial, Helvetica, sans-serif;
    color: #666;
    border-bottom: 1px solid #b0aa91;
    padding:0 10px 15px 15px;
    text-align: left;
}

#leftsidebar .sidebar-label {
    font: italic bold .7em/1.5em Verdana, Arial, Helvetica, sans-serif;
    color: #990000;
    border-bottom: 1px solid #b0aa91;
    border-top: 1px solid #b0aa91;
    padding:5px 10px;
    text-align: left;
    background: #F3F4E6;
}

#leftsidebar ul.opened {
    display: block;
    padding-top: 10px;
    /*list-style-image:url("/images/opened.gif");*/
}

#leftsidebar ul.closed {
    display: none;
    /*list-style-image:url("/images/closed.gif");*/
}

#leftsidebar ul li a {
    font-weight: bold;
    line-height: 2em;
    color: #000;
    text-decoration: none;
    background: #e8ead0;
    vertical-align: middle;
    font-size: 0.8em;
    padding-left: 15px;
}

#leftsidebar ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: #b3b393;
}

#leftsidebar ul li a:active {
    color: #990000;
    text-decoration: underline;
    background: #fff;
}

#leftsidebar ul li a:visited {
    font-size: 0.8em;
    font-weight: bold;
}

#leftsidebar ul li ul li a {
    font-weight: bold;
    line-height: 1.85em;
    color: #000;
    text-decoration: none;
    background: #e8ead0;
    vertical-align: middle;
    font-size: .75em;
    padding-left: 25px;
}

#leftsidebar ul li ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: #b3b393;
}

#leftsidebar ul li ul li a:active {
    color: #990000;
    text-decoration: underline;
    background: #fff;
}

#leftsidebar ul li ul li a:visited {
    font-size: .75em;
    font-weight: bold;
}
/* end left navigation styles */

/* top nav bar background style */
#topnavbar {
    background-color: #990000; 
    padding: 0; 
    border-top:1px solid #c1c1c1; 
    border-bottom:1px solid #c1c1c1;
}

#maincontent {
    text-align: left;
    padding-left: 203px;
}

#maincontent a {
  text-decoration:none;
  color:#006699;
  font-size:inherit;
  }
  
#maincontent a:visited {
  text-decoration:none;
  color:#006699;
  font-size:inherit;
  }

#maincontent a:hover {
  color:#990000;
  text-decoration:underline;
  font-size:inherit;
  }
  
#maincontent a:visited:hover {
 color: #990000;
 font-size:inherit;
 }
 
#maincontent .big-login-buttons {
    width:180px;
    height: auto;
    text-align: center;
    padding: 1.3em 0;
    margin:10px;
    background: beige;
    border: 4px solid #C1C1C1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#maincontent .big-login-buttons a {
    color: #990000;
text-decoration: none;
}

#maincontent .big-login-buttons a:hover {
    color: #333;
text-decoration: none;
}

/* styles for tables */

table {
    empty-cells: show;
    margin-bottom: 1em;
    table-layout: auto;
    /*float: left;*/
    /*width: 95%;*/
}

th {
    white-space:nowrap;
    padding: 1px 4px;
    text-align: left;
}

td {
    padding: 1px 4px;
}

.table_title,.form_title {
    font-size: .9em;
    font-weight: 600;
    font-variant: small-caps;
}

.list, .form {
    border: 1px solid #b0aa91;
    border-collapse: collapse;
}

.list th {
    font-size: .9em;
    background-color: #f1f2e3;
    border-bottom: 1px solid #999;
}

.list td {
    font-size: .9em;
    border-bottom: 1px solid #B0AA91;
    /*padding-left: .5em;*/
}

.list .no_border_bottom {
    border-bottom: 0 none;
}

.list a.linkborder {
    border: 2px solid #c0c0c0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: .07em .2em;
}

/* lists with no underlines */
.info01 {
    border: 1px solid #b0aa91;
    border-collapse: separate;
    margin-bottom: 3em;
}

.info01 th {
    background-color: #e8ead0;
    font-size: .9em;
    background-color: #f1f2e3;
    white-space: nowrap;
    padding: .1em .3em;
    text-align: left;
}

.info01 td {
    padding: .1em .3em;
}

.info td.linkborder, .list td.linkborder {
    border: 2px solid #dedacb;
}

.info th {
    font-size: .8em;
    font-weight: bolder;
}

.info td {
    font-size: .9em;
}

.form {
    background-color: #f1f2e3;
}

.form th {
    font-size: .9em;
    background-color: #f1f2e3;
    border-bottom: none;
    text-align: right;
}

.form th.top-heading-row {
    text-align: left;
}


.form td {
    font-size: .9em;
    border-bottom: none;
}

.form01 {
    background-color: #f1f2e3;
}

.form01 th {
    font-size: .9em;
    background-color: #f1f2e3;
    border-bottom: none;
    text-align: left;
}

.form01 td {
    font-size: .9em;
    border-bottom: none;
}

.linkbutton td {
    border: 1px solid #dedacb;
    color: 0000FF;
}

.form ul {
    margin: 0;
    padding: 0;
    text-indent: 1em;
    list-style-type: none;
}

.form li {
    float: left;
}

/* end styles for tables */

/* Other general styles */

.grey {color:#888;}
.ltgrey {color:#ddd;}
.palegrey {color:#eee;}
.dkred {color:#990000;}
.sagegreen {color: #e8ead0;}
.ltsage {color: #f1f2e3;}

.lft {float:left;}
.rgt{float:right;}

.notes {
    font-size: smaller;
    font-style: italic;
    color: #888;
}

.instructions {
    font-size: smaller;
    font-weight: bold;
    color: #999000;
}

.hardbreak {
    word-break: break-all;
    white-space: nowrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    word-wrap: break-word;/* Internet Explorer 5.5+ */
}

.clear {
    clear: both;
}

/* styles for Rails error messages */
.fieldWithErrors {
  padding: 2px;
  background-color: #990000;
  display:table-cell;
}

#errorExplanation {
  width: 400px;
  border: solid thin #990000;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #990000;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
/* end styles for Rails error messages */
