.frontpages {
    background: url(../images/samples01-bg.gif);
	background-repeat: repeat;
	height: 400px;
    margin-left: 10px;
}

.rgt-header-bg-graphic {
    background: url(../images/twisted_sequence.gif);
    background-repeat: no-repeat; 
    background-position:bottom;
}
