<table class="form">
  <tr><%=f.text_field :consent_nr %></tr>
  <tr><%=f.text_field :consent_abbrev, :size => 50 %></tr>
  <tr><%=f.text_area :consent_name, :rows => 3 %></tr>
  <tr><%=f.text_field :email_confirm_to, :label => 'Owner/Email To' %></tr>
</table>