<h1>Update consent protocol</h1>

<% tagged_form_for(@consent_protocol) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'consent_protocol', :locals => {:f => f} %>
    
  <%= f.submit "Update" %>
<% end %>

<%= link_to 'List All', consent_protocols_path %>
