<h1>New consent protocol</h1>

<% tagged_form_for @consent_protocol, :action => 'create' do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'consent_protocol', :locals => {:f => f} %>
  
  <%= break_clear(f.submit "Create") %>
<% end %>


