<div style="background: url(/images/samples01-bg.gif); background-position:left top;  height:401px; padding:20px; margin:0;">
<br />
<h3>Welcome!</h3>
<br />
<br />
<p> SGTC LIMS manages clinical samples, molecular assays and other processing related
    to high throughput resequencing operations </p>
<br />
<br />
</div>

