<h1>New freezer location</h1>

<% tagged_form_for @freezer_location, :action => 'create' do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'freezer_loc_form', :locals => {:f => f} %>
  
  <%=raw break_clear(f.submit "Create") %>
<% end %>


