<h1>Editing status of order items</h1>

<% form_for @order, :url => {:action => :update, :item_upd => 'Y'}  do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'orders/order_form', :locals => {:f => f} %>
  
    <fieldset class="form">
    <legend>Items</legend>
	<% @order.items.each do |item| %>
      <%= render :partial => 'order_items', :locals => {:item => item} %>
	<% end %>
	</fieldset>
	
  <%=raw break_clear(f.submit "Update") %>
<% end %>
