<h1>Specify MRN or patient ID for pathology report</h1>

<%= form_tag :action=> 'new'  do %>

<table class="form border">
  <tr>
  <% if can? :read, Patient %>
  	<th>MRN:</th><td><%= text_field_tag(:mrn_nr) %></td>	
  <% end %>
  	<th>Patient ID:</th><td><%= text_field_tag(:patient_id) %></td>
  </tr>
</table>

<%= submit_tag "Submit" %>
<%end%>