<td><% if seq_lib.sample_conc_ngul %><%=h number_with_precision(seq_lib.sample_conc_ngul, :precision => 2) %><% else %>--<% end %> ng/ul</td>
<td><% if seq_lib.sample_conc_nm   %><%=h number_with_precision(seq_lib.sample_conc_nm,   :precision => 2) %><% else %>--<% end %> nM</td>