<h1>Editing researcher</h1>

<% tagged_form_for(@researcher) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'researcher_form', :locals => {:f => f} %>
  
  <%= f.submit "Update" -%>&nbsp;&nbsp;<%= link_to 'List All', researchers_path %>
<% end %>


