<h1>Editing patient</h1>

<% form_for(@patient) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'patient_form',      :locals => {:f => f, :patient_id => @patient.id} %>
  
  <br />
  <table class="break_clear" width="100%"><tr><td>
  	<%= f.submit "Update" -%>&nbsp;&nbsp;<%= link_to 'Cancel', :back %>
  </td></tr></table>  
<% end %>
