<h1>Select patient to edit:</h1>

<% form_tag do %>
<table class="form border">
  <tr>
  <% if can? :read, Patient %>
  	<th>MRN:</th><td><%= text_field_tag(:mrn, params[:mrn]) %></td>	
  <% end %>
  	<th>Patient ID:</th><td><%= text_field_tag(:patient_id, params[:patient_id]) %></td>
  </tr>
</table>
<%= submit_tag "Submit" %>
<%end%>