<div class="fields">
<span>
  <%= f.datepicker 'incident_date', dateFormat: "yy-mm-dd", maxDate: '0', changeMonth: true, changeYear: true, size: 15 %> &nbsp;&nbsp;
  <%= f.text_field  :incident_description, :label => 'Description' %>
  <%= link_to_remove_fields("Remove", f) %>
</span><br />  
</div>   