<h1>New Sequencing Machine</h1>

<%= tagged_form_for @seq_machine, :action => 'create' do |f| %>
  <%= render '/shared/errors', model: @seq_machine %>
  
  <%= render :partial => 'seq_machine_form', :locals => {:f => f} %>
  
  <%= f.submit "Create" %>
<% end %>


