<h3>Specify source barcode, for H&E slide</h3>

<% form_tag :action=> 'new'  do %>

<table class="form">
  <tr>
	<th>Barcode:</th><td><%= text_field_tag(:barcode_key)%></td>
  </tr>
</table>

<p><%= submit_tag "Submit" %></p>
<%end%>