<h1>Editing item</h1>

<%= form_for(@item) do |f| %>
  <%= render '/shared/errors', model: @item %>
  
  <%= render :partial => 'item_form', :locals => {:f => f} %>
  
  <%=raw break_clear(f.submit "Update") %>

<% end %>