<h1>View Protocol</h1>

<!-- Standard fields to be displayed -->
<% info_flds   = [['Field', 'Protocol Name', @protocol.protocol_name],
                  ['Field', 'Protocol Type', Protocol::PROTOCOL_TYPE_NAMES[@protocol.protocol_type]],
                  ['Field', 'Abbreviation', @protocol.protocol_abbrev],
                  ['Field', 'Code', @protocol.protocol_code],
                  ['Field', 'Version', @protocol.protocol_version],nil] %>
				  
<!-- Only include comments if non-blank -->
<% info_flds.push(['Field', 'Comments', @protocol.comments]) if !@protocol.comments.blank? %>

<!-- Links to be displayed with borders, in bottom row of info box -->
<% info_links = [] %>
<% info_links << ['Edit', 'edit'] if (can? :edit, @protocol) %>
<% info_links << ['Delete', 'destroy'] if (can? :delete, @protocol) %>

<%= render :partial => 'shared/info_box', :locals => {:info_legend     => 'Protocol Details',
                                                      :info_flds       => info_flds,
                                                      :info_links      => info_links,
                                                      :link_id         => @protocol.id,
                                                      :link_controller => 'protocols',
                                                      :last_info_box   => 'no'} %>

<%=raw break_clear(link_to 'List All', protocols_path(:type => @protocol.protocol_type)) %>
