<% @cntr ||= 10 %><% @cntr += 1%>
<% div_id = "cvalue_#{@cntr.to_s}" %>

<% cform.fields_for :category_values, category_value do |vform| %>
  <div id="#{div_id}">
    <p>
    Sort position: <%= vform.text_field(:c_position, :size => 3) %>
    Value: <%= vform.text_field(:c_value, :size => 30) %>
	<%= remove_this_line("#{div_id}") %>
    </p>
  </div>
<% end %>
 