<h1>Sample Storage Containers Query</h1>

<%= form_tag ({action: :index}), { method: :get } do  %>

<fieldset class="form">
<legend>Select parameters</legend>
<table class="form">
  <tr>
    <th>Freezer:</th><td><%= collection_select(:freezer_location, :freezer_location_id, @freezers, :id, :room_and_freezer) %></td>
  </tr>
  <tr>
  	<th>Container Type:</th><td><%= select_tag(:container_type, options_for_select(@container_types), :include_blank => true) %></td>
  </tr>
</table>
</fieldset>
<%=raw break_clear(submit_tag "Submit") %>
<%end%>
