<h3>Result Files</h3>

<table class="list">
  <tr>
  	<th>Analysis</th>
	<th>Result file</th>
  </tr>
<% @result_files.each do |result_file| -%>
  <% rfile_basename = File.basename("#{@rfile_dir}#{result_file.rfile}") %>
  <tr>
    <td><%=h result_file.analysis.analysis_key %></td>
    <td><%= link_to rfile_basename, :action => 'show', :id => result_file %></td>
    <td><%= link_to 'Delete File', result_file, :confirm => 'Are you sure?', 
                                              :method => :delete %></td>
  <% end -%>
  </tr>
</table>

<p><%= link_to 'New File', :action => 'new' %></p>
