<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>SGTC LIMS - <%= controller.action_name %></title>
		<meta name="description" content="<%= META_TAGS[:description] %>" />
        <meta name="keywords" content="<%= META_TAGS[:keywords] %>" />
        <%= stylesheet_link_tag 'lims_std' %>
		<%= stylesheet_link_tag 'lims-superfish' %>
		<!--[if IE]><%= stylesheet_link_tag 'ie-fixes' %><![endif]-->        
        <%= javascript_include_tag :defaults, 'jquery-1.5.1.min', 'superfish', :cache => true %>
		<%= calendar_date_select_includes %>
	    <script type="text/javascript">
	        jQuery.noConflict();
        </script>
		<script type="text/javascript">
        // initialise Superfish 
        jQuery(document).ready(function() { 
          jQuery('ul.sf-menu').superfish({ 
            delay:       1000,                            // one second delay on mouseout 
            animation:   {opacity:'show',height:'show'},  // fade-in and slide-down animation 
            speed:       'fast',                          // faster animation speed  
          }); 
        }); 		
		</script>
    </head>

<body id='body'>
	<% user_roles = (logged_in? ? current_user.roles.collect(&:name) : nil) %>
	<% env_descr  = (DEMO_APP == true ? "(DEMO)" : (RAILS_ENV == 'production' ? nil : "(#{RAILS_ENV})"))%> 	
<div id="container" style="width: 98%;">
	
<div id="header">
  <table cellpadding="0" cellspacing="0" border="0" width="100%" style="margin-bottom: 0;">
    <tr>
      <td valign="top" rowspan="2" width="180"><div class="logo">
      	<% if DEMO_APP == true %>
      	  <%= image_tag("SU_Seal_Card_pos_89.gif",  :height => "89", :alt => "Stanford University") %>
		<% else %>
		  <%= image_tag("sutech_reflect_DB_89.gif", :height => "89", :alt => "Stanford Genome Technology") %>
		<% end %>
	  </div></td>
      <td valign="top"><div class="sitename-graphic"><%= image_tag("mendelims-sitename.gif", :height => "58", :title => "Mendelian LIMS Targeted Resequencing", :alt => "Mendelian LIMS Targeted Resequencing") %></div></td>
      <td valign="top" width="180"><div class="version"><% if APP_VERSION %>Version: <%= APP_VERSION %><% end %><br /><span style="font-size:larger;"><%=h env_descr %></span></div></td>
    </tr>
    <tr>
      <td><div class="tagline">&nbsp;</div></td>      
      <td valign="bottom">
      	<% if logged_in? %>
        <div class="logout-link">
          <%= link_to 'User Profile', edit_user_path(current_user) %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Logout', logout_url %>
        </div>
        <% end %>
      </td>	  
    </tr>
  </table>  
</div><!-- /header -->

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:0; table-layout:fixed;">
  <tr><td id="topnavbar">
  <% if logged_in? %>
  <ul class="sf-menu">
  	
    <% if user_has_access?(user_roles, ["clinical", "clin_admin"]) %>
    <li><a href="#">Clinical</a>     
      <ul>
        <li><%= link_to 'New Clinical Sample', new_sample_characteristic_path %></li>
		<li><%= link_to 'New Pathology Report', new_path_rpt_path %></li>
		<li><%= link_to 'New H &amp; E Slide', new_he_slide_path %></li>
		<li><a class="last-submenu-item" href="#">Edit</a>
          <ul>
          	<li><%= link_to 'Patient', modify_patient_path %></li>
          	<li><%= link_to 'Sample Acquisition', modify_sample_path %></li>
			<li><%= link_to 'Physical Sample', upd_sample_path %></li>     
            <li><%= link_to 'Pathology', new_path_rpt_path  %></li>
            <li><%= link_to 'H &amp; E Slide', new_he_slide_path, :class => 'last-submenu-item'  %></li>
          </ul>
        </li>
      </ul>
    </li>
    
    <!--% else %-->
    <!--<li><a href="#">Clinical</a></li>-->
    <% end %>
	<!-- /clinical -->   
	
    <% if user_has_access?(user_roles, ["clinical", "clin_admin", "researcher", "lab_admin"]) %>
    <li><a href="#">Sample Processing</a>
	  <ul>
        <li><%= link_to 'New Dissection', new_dissection_path %></li>
        <li><%= link_to 'New Extraction', new_extraction_path %></li>
        <li><%= link_to 'Edit Sample', upd_sample_path, :class => 'last-submenu-item' %></li>
      </ul>
    </li>
	<!--% else %-->
	<!--<li><a href="#">Sample Processing</a></li>-->
    <% end %>  
	<!-- /sample processing -->
	
	 <% if user_has_access?(user_roles, ["clinical", "clin_admin", "researcher", "lab_admin"]) %>
    <li><a href="#">Molecular Assays</a>
	  <ul>
        <li><%= link_to 'New Assay', new_molecular_assay_path %></li>
        <li><%= link_to 'List Assays', molecular_assays_path, :class => 'last-submenu-item' %></li>
      </ul>
    </li>
	<!--% else %-->
	<!--<li><a href="#">Molecular Assays</a></li>-->
    <% end %>  
	<!-- /molecular assays -->
	
    <li><a href="#">Sequencing/Alignment</a>
      <ul>
      	<% if user_has_access?(user_roles, ["researcher", "lab_admin", "alignment"]) %>
        <li><a href="#">Library Prep</a>
          <ul>
            <li><%= link_to 'New Lib-Singleplex', new_lib_S_path  %></li>
            <li><%= link_to 'New Lib-Multiplex',  new_lib_M_path, :class => 'last-submenu-item' %></li>
          </ul>
        </li>
        <li><a href="#">Sequencing</a>
		  <ul>
            <li><%= link_to 'Prepare FlowCell',  flow_cell_setup_path %></li>
            <li><%= link_to 'Sequence FlowCell', flow_cells_path(:rpt_type => 'seq'), :class => 'last-submenu-item' %></li>
          </ul>
        </li>
		<% end %>
		<li><%= link_to 'List Run Locations', run_dirs_path %></li>
        <li><%= link_to 'List Seq Runs', flow_cells_path(:rpt_type => 'list'), :class => 'last-submenu-item' %></li>
      </ul>
    </li>
	<!-- /sequencing alignment -->
	    
	<% if user_has_access?(user_roles, ["admin"]) %> 
	<li><a href="#">Admin</a>
      <ul>
      	<li><%= link_to 'New Seq Run Dir', dir_params_path %></li>  
        <li><%= link_to 'Users',  users_path %></li>
        <li><%= link_to 'Researchers', researchers_path, :class => 'last-submenu-item' %></li>             
      </ul>
    </li>
	<% end %> <!-- /admin -->
	
    <li><a class="last-topmenu-item" href="#">Orders</a>
	  <% view_items_label = (user_has_access?(user_roles, ["orders"]) ? 'View/Order items' : 'View Items') %>
	  <ul>
        <li><%= link_to 'New item', new_item_path %></li>
        <li><%= link_to view_items_label, view_items_path %></li>
        <li><%= link_to 'List/Upd orders', view_orders_path, :class => 'last-submenu-item' %></li>
      </ul>
	</li> 
	<!-- /orders -->
  </ul> <!-- /ul nav bar -->
  <% else %>  
  <div style="height: 24px;">&nbsp;</div>
  <% end %>
  </td></tr>
</table>

<div class="clear"></div>

<div id="main">

<% if logged_in? %>	
<div id="leftsidebar">
  <div class="user_info">
     <em>Logged in as: <%= current_user.login %></em>
  </div>
  <ul class="opened">
    <li> <a href="#">Query</a> 
      <ul>
       <li><%= link_to 'Source/Dissections', unprocessed_query_path %></li>
       <li><%= link_to 'Extracted Samples',  processed_query_path %></li>
	   <li><%= link_to 'Molecular Assays (List)',  molecular_assays_path %></li>
       <li><%= link_to 'Seq Libraries',      lib_query_path  %></li>
       <li><%= link_to 'Sequencing Runs',    seq_run_query_path %></li>
      </ul>
    </li>
        
    <li> <a href="#">System Tables</a>  
      <ul>
      	<li><%= link_to 'Freezer Locations', storage_locations_path %></li>
        <li><%= link_to 'Protocols', protocol_type_path %></li>
		
		<% if user_has_access?(user_roles, ["researcher", "lab_admin", "alignment"])%>
 		<li><%= link_to 'Multiplex Tags', index_tags_path %></li>
		<% end %>
		
		<% if user_has_access?(user_roles, ["alignment"]) %>  
        <li><%= link_to 'Alignment Refs', alignment_refs_path %></li>
		<% end %>
		
		<% if user_has_access?(user_roles, ["researcher", "lab_admin", "alignment"])%>
		<li><%= link_to 'Disks/Directories', storage_devices_path %></li>
		<% end %>		
		
		<% if user_has_access?(user_roles, ["clin_admin", "lab_admin"]) %> 
		<li><%= link_to 'Drop-Down Lists', categories_path %></li>
		<% end %>                
      </ul>
    </li>			
  </ul>  <!-- /opened -->
</div> <!-- /leftsidebar -->    
<% end %>
    
<div id="maincontent">
	<div style='color:red'> <%= flash[:error]%></div>
	<div style='color:green'> <%= flash[:notice]%></div>
	<%= yield %>
</div><!-- /maincontent -->
	
</div><!-- /main -->

<div id="footer">
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-bottom: 0;">
  <tr>
    <td valign="top">
      <a href="http://med.stanford.edu/sgtc/">Stanford Genome Tech Center</a>&nbsp;|
      <a href="mailto:sgrimes@stanford.edu">Contact</a>
      <div class="site-blurb">Website provided by the Ji Research Group<br />School of Medicine and Genome Technology Center at Stanford University<br />
      This website and its content &copy; Stanford University, <%= Time.now.localtime.strftime("%Y") %>. All rights reserved.
      </div>
    </td>
    <td valign="top">
    &nbsp;
    </td>
  </tr>
</table>
</div>

</div><!-- /container -->
</body>
</html>
