<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>SGTC LIMS<%= controller.action_name %></title>
        <%= stylesheet_link_tag 'lims_std' %>
		<%= stylesheet_link_tag 'MenuBarHorizontal' %>
        <%= javascript_include_tag :all, :cache => true %>
		<%= calendar_date_select_includes %>
    </head>

<body id='body'>
	
<div id="container" style="width: 98%;">
	
<div id="header">
    <img class="logo" src="/images/sutech_reflect_DB.gif" alt="Stanford Genome Technology" width="99" height="80" title="SGTC Sequencing Database" />	
	<div class="sitename">SGTC LIMS <% if RAILS_ENV != 'production'%> - (<%= RAILS_ENV%>)<%end%></div>	
	<div class="version"><% if APP_VERSION %>Version: <%= APP_VERSION %><% end %></div>
    <% if logged_in? %>
	    <div class="logout-link"><%= link_to 'Logout', logout_url %></div>
	<% end %>
</div><!-- /header -->

<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:0;">
  <tr><td id="topnavbar">
  <% if logged_in? %>
  <ul id="MenuBar1" class="MenuBarHorizontal">
    <% if ( 
           current_user.has_role?("clinical") ||
		   current_user.has_role?("clin_admin") ||
		   current_user.has_role?("admin")
	   )
    %>
    <li><a class="MenuBarItemSubmenu" href="#">Clinical</a>     
      <ul>
        <li><%= link_to 'New Clinical Sample', new_sample_characteristic_path %></li>
        <li><%= link_to 'Edit Sample Acquisition', modify_sample_path %></li>
        <li><%= link_to 'Edit Patient', modify_patient_path %></li>
        <li><%= link_to 'Add/Edit Pathology Report', new_path_rpt_path %></li>
        <li class="last-item"><%= link_to 'Add/Edit H &amp; E Slide', new_he_slide_path %></li>
      </ul>
    </li>
    <% else %>
    <li><a class="nosubmenu" href="#">Clinical</a></li>
    <% end %>
	<!-- /clinical -->   
	
    <% if ( 
           current_user.has_role?("clinical") ||
           current_user.has_role?("clin_admin") ||
           current_user.has_role?("researcher") ||
           current_user.has_role?("lab_admin")
	   )
    %>
    <li><a class="MenuBarItemSubmenu" href="#">Sample Processing</a>
	  <ul>
        <li><%= link_to 'Dissection', new_dissection_path %></li>
        <li><%= link_to 'Extraction', new_extraction_path %></li>
        <li class="last-item"><%= link_to 'Edit Sample', upd_sample_path %></li>
        <!--li><a href="#">Molecular assays</a></li-->
      </ul>
    </li>
	<% else %>
	<li><a class="nosubmenu" href="#">Sample Processing</a></li>
    <% end %>  
	<!-- /sample processing -->
	
    <li><a class="MenuBarItemSubmenu" href="#">Sequencing/Alignment</a>
      <ul>
      	<% if ( 
               current_user.has_role?("researcher") ||
		       current_user.has_role?("lab_admin") ||
		       current_user.has_role?("alignment")
	       )
        %>
        <li><a class="MenuBarItemSubmenu" href="#">Library Prep</a>
          <ul>
            <li><%= link_to 'New Lib-Singleplex', new_lib_S_path  %></li>
            <li class="last-item"><%= link_to 'New Lib-Multiplex',  new_lib_M_path  %></li>
          </ul>
        </li>
        <li><a class="MenuBarItemSubmenu" href="#">Sequencing</a>
		  <ul>
            <li><%= link_to 'Prepare FlowCell',  flow_cell_setup_path %></li>
            <li class="last-item"><%= link_to 'Sequence FlowCell', flow_cells_path(:rpt_type => 'seq') %></li>
          </ul>
        </li>
		<% end %>
		<li><a class="MenuBarItemSubmenu" href="#">Run Directories</a>
		  <ul>
		  	<li><%= link_to 'List Run Directories', run_dirs_path %></li>
            <li><%= link_to 'Edit Run Directories', dir_params_path %></li>
            <li class="last-item"><%= link_to 'List Storage Devices', storage_devices_path %></li></li>			
		  </ul>
		</li>
        <li><%= link_to 'List Seq Libraries', seq_libs_path %></li>
        <li class="last-item"><%= link_to 'List Seq Runs', flow_cells_path(:rpt_type => 'list') %></li>
      </ul>
    </li>
	<!-- /sequencing alignment -->
	    
	<% if current_user.has_role?("admin")%>
    <li><a class="MenuBarItemSubmenu" href="#">Admin</a>
      <ul>
        <li><%= link_to 'Users',  users_path %></li>
        <li class="last-item"><%= link_to 'Researchers', researchers_path %></li>
      </ul>
    </li>
    <% end %> 
    <!-- /admin -->
	
    <li class="MenuBarItemSubmenu last-item"><a href="#">Orders</a>
	  <ul>
        <li><%= link_to 'New item', new_item_path %></li>
        <li><%= link_to 'View/Order items', view_items_path %></li>
        <li class="last-item"><%= link_to 'List/Upd orders', view_orders_path %></li>
      </ul>
	</li> 
	<!-- /orders -->
  </ul> <!-- /ul nav bar -->
  <% else %>  
  <div style="height: 26px;">&nbsp;</div>
  <% end %>
  </td></tr>
</table>

<div class="clear"></div>

<div id="main">

<% if logged_in? %>	
<div id="leftsidebar">
  <div class="user_info">
     <i> Logged in as: <%= current_user.login %> </i>
  </div>
  <ul class="opened">
    <li> <a href="#">Query</a> 
      <ul>
       <li><%= link_to 'Source/Dissections', unprocessed_query_path %></li>
       <li><%= link_to 'Extracted Samples',  processed_query_path %></li>
       <li><%= link_to 'Seq Libraries',      lib_query_path  %></li>
       <li><%= link_to 'Sequencing Runs',    seq_run_query_path %></li>
      </ul>
    </li>
        
    <li> <a href="#">System Tables</a>  
      <ul>
      	<% if ( 
		       current_user.has_role?("clin_admin") ||
		       current_user.has_role?("lab_admin") ||
               current_user.has_role?("admin")
	       )
        %>
      	<li><%= link_to 'Storage Locations', storage_locations_path %></li>
        <li><%= link_to 'Protocols', protocol_type_path %></li>
		<% end %>
		<% if ( 
               current_user.has_role?("lab_admin") ||
               current_user.has_role?("admin")
           )
        %>
 		<li><%= link_to 'Multiplex Tags', index_tags_path %></li>
		<% end %>
		<% if ( 
               current_user.has_role?("alignment") ||
               current_user.has_role?("admin")
           )
        %>   
        <li><%= link_to 'Alignment Refs', alignment_refs_path %></li>
		<% end %>
		<% if ( 
               current_user.has_role?("clin_admin") ||
               current_user.has_role?("lab_admin") ||
               current_user.has_role?("admin")
           )
        %>
		<li><%= link_to 'Drop-Down Lists', categories_path %></li>
		<% end %>                
      </ul>
    </li>			
  </ul>  <!-- /opened -->
</div> <!-- /leftsidebar -->    
<% end %>
    
<div id="maincontent">
	<div style='color:red'> <%= flash[:error]%></div>
	<div style='color:green'> <%= flash[:notice]%></div>
	<%= yield %>
</div><!-- /maincontent -->
	
</div><!-- /main -->

<div id="footer">
	<div class="lft">
		<a href="http://med.stanford.edu/sgtc/">Stanford Genome Tech Center</a>&nbsp;|
		<a href="mailto:insert_contact_name@stanford.edu">Contact</a>
	</div>
</div>

</div><!-- /container -->
<script type="text/javascript">
    var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"images/SpryMenuBarDownHover.gif", imgRight:"images/SpryMenuBarRightHover.gif"});
</script>
</body>
</html>
