<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <title>SGTC LIMS<%= controller.action_name %></title>
        <%= stylesheet_link_tag 'lims_std' %>
        <%= javascript_include_tag :all, :cache => true %>
		<%= calendar_date_select_includes %>
		
	<script type="text/javascript">
	sfHover = function() {
	var sfEls = document.getElementById("nav").getElementsByTagName("LI");
	for (var i=0; i<sfEls.length; i++) {
			sfEls[i].onmouseover=function() {
				this.className+=" sfhover";
			}
			sfEls[i].onmouseout=function() {
				this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
			}
		}
	}
	if (window.attachEvent) window.attachEvent("onload", sfHover);
	</script>

    </head>

<body id='body'>
	
<div id="container" style="width: 98%;">
	
<div id="header">
    <img class="logo" src="/images/sutech_reflect_DB.gif" alt="Stanford Genome Technology" width="99" height="80" title="SGTC Sequencing Database" />	
	<div class="sitename">SGTC LIMS <% if RAILS_ENV != 'production'%> - (<%= RAILS_ENV%>)<%end%></div>	
	<div class="version"><% if APP_VERSION %>Version: <%= APP_VERSION %><% end %></div>
    <% if logged_in? %>
	    <div class="logout-link"><%= link_to 'Logout', logout_url %></div>
	<% end %>
	<div style="clear:both;"></div>

	<div id="nav-box">
    <% if !logged_in? %>

		<!-- show just link labels if not logged in -->
        <ul id="nav" style="display: none;">
          <li><a href="http://med.stanford.edu/sgtc/">Stanford Genome Tech Center</a></li>
          <li><a href="#">Clinicians</a></li>
          <li><a href="#">Lab Techs &amp; Researchers</a></li>
          <li><a href="#">Administrators</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
	
	<% elsif logged_in? %>
	       
        <ul id="nav">

          <li><a href="http://med.stanford.edu/sgtc/">Stanford Genome Tech Center</a></li>

          <li><a href="#">Clinicians</a>

            <ul>             

			  <% if can? :new, SampleCharacteristic %>
              <li><a href="#" class="hasChildren">Clinical Samples</a>

      	        <ul>
	              <li><%= link_to 'New Clinical Sample', new_sample_characteristic_path %></li>
		          <li><%= link_to 'Add/Upd Pathology Report', new_path_rpt_path %></li>
		          <% if can? :read, Patient %>
		          <li><%= link_to 'Upd Patient', modify_patient_path %></li>
		          <% end %>
		          <li><%= link_to 'Upd Sample Characteristics', modify_sample_path %></li>
		          <li><%= link_to 'Upd Sample', upd_sample_path %></li>
		       </ul>

             </li>	
	         <% end %>			  
			  
			 <% if can? :new, ProcessedSample %>
	         <li><a href="#" class="hasChildren">H&E/Dissection/Extraction</a>
      	       <ul>
		         <li><%= link_to 'New Processing', new_psample_path %></li>
		         <li><%= link_to 'Upd Sample', upd_sample_path %></li>
		       </ul>
             </li>
	         <% end %>
			 			  
            </ul>

		  </li> <!-- /Clinicians -->
 
          <li><a href="#">Lab Techs &amp; Researchers</a>
            <ul>
		      <% if can? :new, SeqLib %>
	          <li><a href="#" class="hasChildren">Library Prep</a>	  
      	        <ul>
		          <li><%= link_to 'New Lib-Singleplex', new_lib_S_path  %></li>
		          <li><%= link_to 'New Lib-Multiplex',  new_lib_M_path  %></li>
		          <li><%= link_to 'List Seq Libraries', seq_libs_path %></li>
		        </ul>	          
	          </li>
			  <% end %>
			  
			  <% if can? :new, FlowCell %>
	          <li><a href="#" class="hasChildren">Sequencing</a>  
      	        <ul>
		          <li><%= link_to 'Prepare FlowCell',  flow_cell_setup_path %></li>
		          <li><%= link_to 'FlowCells for Seq', flow_cells_path(:rpt_type => 'seq') %></li>
		          <li><%= link_to 'List Seq Runs',     flow_cells_path(:rpt_type => 'list') %></li>
		          <li><%= link_to 'List Sequencers',   seq_machines_path %></li>
		        </ul>
	          </li>
	          <% end %>
			  
	        </ul>
		  </li> <!-- /Lab Techs and Researcherchers -->
		  		  
          <li><a href="#">Administrators</a>
		    <ul>
		      <% if can? :new, RunDir %>
	          <li><a href="#" class="hasChildren">Run Directories</a> 
      	        <ul>
		           <li><%= link_to 'List Run Directories', run_dirs_path %></li>
		           <li><%= link_to 'Edit Run Directories', dir_params_path %></li>
		           <li><%= link_to 'List Storage Devices', storage_devices_path %></li>
		         </ul>
              </li>	 
	          <% end %>
			  
			  <li><a href="#" class="hasChildren">System Tables</a>
	  
      	        <ul>
      	          <li><%= link_to 'User Info', edit_user_path(current_user) %></li>
		          <li><%= link_to 'Protocols', protocol_type_path %></li>
		          <li><%= link_to 'Drop-Down Lists', categories_path %></li>
                  <li><%= link_to 'Storage Locations', storage_locations_path %></li>
		          <li><%= link_to 'Multiplex Tags', index_tags_path %></li>
		          <li><%= link_to 'Alignment Refs', alignment_refs_path %></li>
		        </ul>
 
			  </li>
			  
			  <% if current_user.has_role?("admin")%>	      
      	      <li><%= link_to 'Users', users_path %>
		      <li><%= link_to 'Researchers', researchers_path %></li>
	          <% end %>
			  
		    </ul>
		  </li> <!-- /Administrators -->

          <li><a href="mailto:insert_contact_name@stanford.edu">Contact</a></li>

        </ul> <!--/nav-->
	
	<% end %><!-- /end if logged in -->
	</div><!-- /nav-box -->
    	    
</div><!-- /header -->

<div id="main">
    <% if logged_in? %>	
    <div id="leftsidebar">
        <div class="user_info">
	   <i> Logged in as: <%= current_user.login %> </i>
        </div>
	<ul class="opened">
	
	<% if can? :new, SampleCharacteristic %>
	<li> <%= link_to_function "Clinical Samples", toggle_div(:clinical_menu) %></li>
	  <div id="clinical_menu", style="display:none;">
      	 <ul>
	     <li><%= link_to 'New Clinical Sample', new_sample_characteristic_path %></li>
		 <li><%= link_to 'Add/Upd Pathology Report', new_path_rpt_path %></li>
		 <% if can? :read, Patient %>
		 <li><%= link_to 'Upd Patient', modify_patient_path %></li>
		 <% end %>
		 <li><%= link_to 'Upd Sample Characteristics', modify_sample_path %></li>
		 <li><%= link_to 'Upd Sample', upd_sample_path %></li>
		 </ul>
      </div>
	<% end %>
	
	
	
	<% if can? :new, ProcessedSample %>
	<li> <%= link_to_function "H&E/Dissection/Extraction", toggle_div(:processing_menu) %> </li>
	  <div id="processing_menu", style="display:none;">
      	 <ul>
		 <li><%= link_to 'New Processing', new_psample_path %></li>
		 <li><%= link_to 'Upd Sample', upd_sample_path %></li>
		 </ul>
      </div>
	<% end %>
	
	
	
	<% if can? :new, SeqLib %>
	<li> <%= link_to_function "Library Prep", toggle_div(:assay_menu)%> </li>
	  <div id="assay_menu", style="display:none;">
      	 <ul>
		 <li><%= link_to 'New Lib-Singleplex', new_lib_S_path  %></li>
		 <li><%= link_to 'New Lib-Multiplex',  new_lib_M_path  %></li>
		 <li><%= link_to 'List Seq Libraries', seq_libs_path %></li>
		 </ul>
      </div>
	<% end %>
	
	
	
	<% if can? :new, FlowCell %>
	<li> <%= link_to_function "Sequencing", toggle_div(:analysis_menu)%> </li>
	  <div id="analysis_menu", style="display:none;">
      	 <ul>
		 <li><%= link_to 'Prepare FlowCell',  flow_cell_setup_path %></li>
		 <li><%= link_to 'FlowCells for Seq', flow_cells_path(:rpt_type => 'seq') %></li>
		 <li><%= link_to 'List Seq Runs',     flow_cells_path(:rpt_type => 'list') %></li>
		 <li><%= link_to 'List Sequencers',   seq_machines_path %></li>
		 </ul>
      </div>
	<% end %>
	
	
	
	<% if can? :new, RunDir %>
	<li> <%= link_to_function "Run Directories", toggle_div(:rundir_menu)%> </li>
	  <div id="rundir_menu", style="display:none;">
      	 <ul>
		 <li><%= link_to 'List Run Directories', run_dirs_path %></li>
		 <li><%= link_to 'Edit Run Directories', dir_params_path %></li>
		 <li><%= link_to 'List Storage Devices', storage_devices_path %></li>
		 </ul>
      </div>
	<% end %>
	
	
	
	<li> <%= link_to "Attachments", attach_params_path %> </li>
	
	
	
	<li> <%= link_to_function "Query", toggle_div(:query_menu)%> </li>
	  <div id="query_menu", style="display:none;">
      	 <ul>
      	 <li><%= link_to 'Source/Dissections', unprocessed_query_path %></li>
	     <li><%= link_to 'Extracted Samples',  processed_query_path %></li>
		 <li><%= link_to 'Seq Libraries',      lib_query_path  %></li>
		 <li><%= link_to 'Sequencing Runs',    seq_run_query_path %></li>
		 </ul>
      </div>
	

	
	<li> <%= link_to_function "System Tables", toggle_div(:systables_menu)%> </li>
	  <div id="systables_menu", style="display:none;">
      	 <ul>
      	 <li><%= link_to 'User Info', edit_user_path(current_user) %></li>
		 <li><%= link_to 'Protocols', protocol_type_path %></li>
		 <li><%= link_to 'Drop-Down Lists', categories_path %></li>
         <li><%= link_to 'Storage Locations', storage_locations_path %></li>
		 <li><%= link_to 'Multiplex Tags', index_tags_path %></li>
		 <li><%= link_to 'Alignment Refs', alignment_refs_path %></li>
		 </ul>
      </div>
	
	
	
	<% if current_user.has_role?("admin")%>
	<li> <%= link_to_function "Admin", toggle_div(:admin_menu)%> </li>
	  <div id="admin_menu", style="display:none;">
      	 <ul>
      	 <li><%= link_to 'Users', users_path %>
		 <li><%= link_to 'Researchers', researchers_path %></li>
		 </ul>
      </div>
	<% end %>
	
	
	
	<li>&nbsp;</li>
	<li> <%= link_to_function "Orders", toggle_div(:order_menu)%> </li>
	  <div id="order_menu", style="display:none;">
      	 <ul>
      	 <li><%= link_to 'New item', new_item_path %></li>
	     <li><%= link_to 'View/Order items', view_items_path %></li>
	     <li><%= link_to 'List/Upd orders', view_orders_path %></li>
		 </ul>
	  </div>
			
	</ul>
	
	</div> <!-- /leftsidebar -->
    <% end %>
    
	<div id="maincontent">
	<div style='color:red'> <%= flash[:error]%></div>
    <div style='color:green'> <%= flash[:notice]%></div>
	<%= yield %>
	</div><!-- /maincontent -->	
</div><!-- /main -->

<div id="footer">
	<div class="lft">
		<a href="http://med.stanford.edu/sgtc/">Stanford Genome Tech Center</a>&nbsp;|&nbsp;
		<a href="#">Clinicians</a></div>&nbsp;|&nbsp;
		<a href="#">Lab Techs &amp; Researchers</a>&nbsp;|
	    <a href="#">Administrators</a>&nbsp;|&nbsp;
	    <a href="#">Contact</a>
	</div>
</div>

</div><!-- /container -->

</body>
</html>